<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="freeCRM">
  <test  name="CRMTest">
    <classes>
      <class name="com.qa.testcases.LoginPageTest"/>
      <class name="com.qa.testcases.HomePageTest"/>
      <class name="com.qa.testcases.ContactPageTest"/>
      <class name="com.qa.testcases.CreateNewContactPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
